.chat {
    width: 85%;
    height: 100%;
    max-width: 100%;
    margin: auto;
}
.chat_container {
    height: 65%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 20px auto;
    padding: 5px;
    border-radius: 10px;
    background: url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAGUlEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgA0kQIER6sh6AAAAABJRU5ErkJggg==   )
        repeat;
}

.message_block_left {
    display: flex;
    height: 150px;
    width: 100%;
}
.message_block_right {
    display: flex;
    flex-direction: row-reverse;
    height: 150px;
    width: 100%;
}

.message_block a {
    display: inline-block;
    text-align: left;
}
.chat_image {
    width: 100px;
    height: 100px;
    padding: 1px;
    box-shadow: inset 1px 1px 0 0 #fff, 3px 3px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px dotted black;
    border-left: 1px dotted black;
    border-radius: 8px;
    cursor: pointer;
}

.chat_name {
    margin: 10px;
    font-size: 0.6rem;
    font-weight: bold;
    width: 100%;
    word-wrap: break-word;
    cursor: pointer;
    color: black;
}

.chat_message {
    width: 90%;
    margin-top: 5px;
    padding: 15px;
    background: #fff;
    box-shadow: inset 1px 1px 0 0 #fff, 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.chat_textarea {
    width: 100%;
    height: 15%;
    margin: 0px auto;
    resize: none;
}
