/*  FIND FRIENDS */

.find_container {
    position: relative;
    width: 95%;
    height: 95%;
    text-align: center;
    overflow: hidden;
}

.find_title {
    margin: 10px auto;
}
.find_container input {
    transform: translateX(20px);
}

.newbies,
.find_container h2 {
    font-size: 0.9rem;
    padding: 5px;
    text-decoration: underline;
    margin: 20px;
}

.friends_row {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.individual_friend_block {
    margin: 10px;
}

.find_image {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px dotted #000;
}

.find_container p {
}

/*  FRIENDSHIPS PAGE */

.friendship_screen {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.relationships {
    display: flex;
    justify-content: flex-start;
    /* width: 100%; */
    height: auto;
    margin: 10px 20px;
}
.friend {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.friend p {
    margin: 10px auto;
    font-size: 0.7rem;
    cursor: pointer;
}
.relationships img {
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border-right: 2px dotted black;
    border-bottom: 2px dotted black;
    box-shadow: inset 1px 1px 0 0 #fff, 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.relationships button {
    font-size: 0.5rem;
    padding: 5px 10px;
    border: 1px solid #000;
    box-shadow: none;
}

/* TRASH CAN ICON */
.floating_can {
    position: fixed;
    bottom: 50px;
    right: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    width: auto;
    height: auto;
}
.trashcan {
    background-image: url("/svgs/trash_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    cursor: crosshair;
}
.trashcan:hover {
    background-image: url("/svgs/trash_icon_open.svg");
    height: 110px;
}
.trashcan:active {
    background-image: url("/svgs/trash_icon_open.svg");
    height: 110px;
}
.trashcan_subtext {
    background: white;
    padding: 6px 8px;
    font-size: 0.6rem;
    border-radius: 5px;
    cursor: crosshair;
    margin: 5px;
    box-shadow: inset 1px 1px 0 0 #fff, 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* OTHER PROFILE */
.other_profile {
    padding: 50px;
}
.other_profile_left h1 {
    margin: 20px auto;
}

.other_profile p {
    margin: 20px 0;
    width: 250px;
}
