.profileEditor {
}

.profileImage {
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
}

/* IMAGE UPLOADER */
.imageUploader {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.upload_title {
    margin: 30px auto;
    font-size: 1.2rem;
}

.imageUploader input {
    width: 100%;
    font-size: 0.8rem;
    padding-left: 35%;
}
