* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "chicagoFLF";
}
@font-face {
    font-family: "chicagoFLF";
    src: url("/fonts/ChicagoFLF.ttf") format("woff");
}
main {
    min-height: 100vh;
    height: 100%;
    /* TODO: download this png */
    background: url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC
   )
        repeat;
}
img {
    width: 250px;
    height: 250px;
    image-rendering: pixelated;
    filter: grayscale(50%) sepia(30%);
}

h1 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    font-size: 0.7rem;
}

p {
    margin: 20px;
    font-size: 0.7rem;
}

input {
    margin: 10px;
    cursor: pointer;
}
button {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    margin: auto;
}
