.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

#chat_logo {
    height: 300px;
    width: 300px;
    margin-right: 100px;
}

/* Dog-Cat image */
canvas {
    position: relative;
    top: 50px;
    pointer-events: none;
    filter: grayscale(50%) sepia(30%);
}

.welcome_right {
    margin-left: 100px;
}

.welcome_right button {
    margin: 10px;
}

.welcome_right a {
    padding: 10px 15px;
    margin: auto 15px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
}
.welcome_right a:hover {
    color: rgb(135, 135, 135);
}

.welcome_right a:active {
    color: #fff;
    background-color: black;
}

.register_form {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* RESET FORM */

.form {
    display: flex;
    flex-direction: column;
}

.reset h1 {
    margin-top: 30px;
}
